<%- @trades.each do |trade| %>
<tr id="trade-<%= trade.id %>">
	<td><%= trade.id %></td>
	<td><%= trade.created_at %></td>
	<td><%= trade.phone_number %></td>
	<td><%= trade.username %></td>
	<td><%= trade.usd_amount %></td>
	<td><%= trade.btc_amount %></td>
	<td><%= trade.location_to_pay.present? ? trade.location_to_pay : 'Store#1' %></td>
  <td>
    <%= link_to "Check", "javascript:void(0)" %>
  </td>
	<td id="trade-<%= trade.id %>-status">
	  <%= render partial: 'admin/trades/link_status', locals: {trade: trade} %>
	</td>
	<%- if release %>
    <td>
      <%= link_to "release", "javascript:void(0)", onclick: "openModalSmall('#{release_admin_trade_path(trade, popup: true)}')" %>
    </td>
	<% end %>
</tr>
<% end %>
<tr>
	<td colspan="<%= release ? 10 : 9 %>"><%= paginate @trades %></td>
</tr>