<section id="login_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
            <h3>Create a password</h3>
            <!--<%= devise_error_messages! %>-->
            <% if resource.errors.any? %>
                <div class="alert alert-danger">
                  <strong>There are <%= pluralize(resource.errors.count, " errors") %></strong>
                  <ul>
                    <% resource.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <%= f.label :password, 'New password' %>
              <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control' %>
              <%= f.label :password_confirmation, 'Confirm new password' %>
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
            </div>
            <%= f.submit 'Continue', :class => 'btn btn-primary', :style => 'width:100%;' %>
        <% end %>
      </div>
    </div>
  </div>
</section>