<%= render "shared/messages" %>
<div class="form-group">
	<input name="screen_id" id="screen" type="text" class="form-control radius"></input>
</div>
<div class="clearfix"></div>
<div class="col-md-4">
	<%= link_to "1", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "2", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "3", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "4", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "5", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "6", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "7", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "8", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "9", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "DELETE", "#", class: "btn-number btn-delete" %>
</div>
<div class="col-md-4">
	<%= link_to "0", "#", class: "btn-number" %>
</div>
<div class="col-md-4">
	<%= link_to "ENTER", "javascript:void(0)", class: "btn-number enter", onclick: "$(this).parents('form').submit();" %>
</div>