<div class="container">
	<div class="col-md-3">
		<%= image_tag('logo.png', class: 'img-resposive left-logo') %>
	</div>
	<div class="clearfix"></div>
	<div class="box-device">
		<div class="col-md-4 col-md-offset-2">
			<h1 class='insert-cellphone'>Insert your BitBill number</h1>
		</div>
		<div class="col-md-4 box-keypad">
			<div class="form-group">
				<input id="screen" type="text" class="form-control radius"></input>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4">
        <%= link_to "1", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "2", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "3", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "4", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "5", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "6", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "7", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "8", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "9", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "DELETE", "#", class: "btn-number btn-delete" %>
			</div>
			<div class="col-md-4">
        <%= link_to "0", "#", class: "btn-number" %>
			</div>
			<div class="col-md-4">
        <%= link_to "ENTER", "#", class: "btn-number enter" %>
			</div>

		</div>
	</div>
</div>