<h1>Manage System Setttings</h1>
<hr/>
<%= form_for @setting, url: admin_update_setting_path do |f| %>
  <div class="col-md-4">
	  <%= f.label :fee_percent, "Fee" %>
	  <div class="input-group">
	    <%= f.number_field :fee_percent, class: 'form-control input-lg' %>
	    <span class="input-group-addon" id="basic-addon2">%</span>
	  </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :maximum_daily_deposit, "Maximum Daily Deposit" %>
      <%= f.number_field :maximum_daily_deposit, class: 'form-control input-lg', min: 1 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :maximum_deposit, "Maximum Trade Deposit" %>
      <%= f.number_field :maximum_deposit, class: 'form-control input-lg', min: 1 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :minimum_deposit, "Minimum Trade Deposit" %>
      <%= f.number_field :minimum_deposit, class: 'form-control input-lg', min: 1 %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :id_requirement, "Minimum id requirement" %>
      <%= f.number_field :id_requirement, class: 'form-control input-lg', min: 1 %>
    </div>
  </div>
  <div class="col-md-6">
    <%= f.submit :save, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>