<%- @trades.each do |trade| %>
<tr>
	<td><%= trade.id %></td>
	<td><%= trade.created_at %></td>
	<td><%= trade.phone_number %></td>
	<td><%= trade.wallet %></td>
	<td><%= trade.usd_amount %></td>
	<td><%= trade.btc_amount %></td>
	<td><%= trade.location_to_pay %></td>
	<td>
	  <span class="<%= get_trade_status(trade.status) %>"><%= trade.status.humanize %></span>
  </td>
</tr>
<% end %>
<tr>
	<td colspan="8"><%= paginate @trades, remote: true %></td>
</tr>