<ul class="nav nav-sidebar">
	<li class="<%= 'active' if params[:controller] == 'admin/dashboard'%>">
		<%= link_to "#" do %>
		<span>Dashboard</span>
		<% end %>
	</li>
	<li class="<%= 'active' if params[:controller] == 'admin/transactions'%>">
		<%= link_to "#" do %>
		<span>Trades List</span>
		<% end %>
	</li>
	<li class="<%= 'active' if params[:controller] == 'admin/users'%>">
		<%= link_to "#" do %>
		<span>Users List</span>
		<% end %>
	</li>
	<li class="<%= 'active' if params[:controller] == 'admin/receipts'%>">
		<%= link_to "#" do %>
		<span>Receipts</span>
		<% end %>
	</li>
	<li class="<%= 'active' if params[:controller] == 'admin/promotions'%>">
		<%= link_to "#" do %>
		<span>Promotions</span>
		<% end %>
	</li>
	<li class="<%= 'active' if params[:controller] == 'admin/payment_methods'%>">
		<%= link_to "#", method: :get do %>
		<span>Payment Methods</span>
		<% end %>
	</li>
	<% if current_user.is_admin? %>
	<li class="<%= 'active' if params[:controller] == 'admin/settings'%>">
		<%= link_to "#", method: :get do %>
		<span>Manage System</span>
		<% end %>
	</li>
	<% end %>
</ul>