<!DOCTYPE html>
<html>
<head>
	<title>Bitbillers</title>
	<link href='//fonts.googleapis.com/css?family=Dosis:400,200,300,600,700,800' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>
  <div class="container">
  	<%= render "shared/messages" %>
	  <%= yield %>
  </div>
	<%= render "layouts/footer" %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= yield :modals %>
	<%= yield :javascripts %>
</body>
</html>